<div class="card filters bd-radius bg-secondary">

  <div class="card-header text-center rounded-pill">
    <strong class="font-weight-bold">Filters</strong>
  </div>

  <div class="card-body">
    <form>
      <div class="form-group text-center">
        <label for="from"><h6>Min</h6></label>
        <input type="number" id="from" class="rounded-pill form-control">
      </div>

      <div class="form-group text-center">
        <label for="to"><h6>Max</h6></label>
        <input type="number" id="to" class="form-control rounded-pill">
      </div>

      <button class="btn btn-secondary btn-block btn-sm rounded-pill">Filter by Price</button>
    </form>
  </div>
</div>