.bg-nav {
    background-image: url(https://4kwallpapers.com/images/wallpapers/ios-13-stock-ipados-red-black-background-amoled-ipad-hd-3840x2160-792.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}